@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-sans:
    "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-pixel: "Geist Pixel", monospace;

  --font-sans--font-feature-settings: "liga" 1, "calt" 1, "ss02" 1;
  --font-mono--font-feature-settings: "liga" 0, "calt" 0, "zero" 1, "tnum" 1;

  --text-xxs: 0.625rem;
  --text-xxs--line-height: 1rem;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in srgb, currentColor 45%, transparent);
  }
}
